@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

.line-clamp-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: 109px;
  line-height: 1.26;
}
